*{box-sizing:border-box}

.slideshow-container{
 padding-left: 20px;
 padding-right: 20px;
 max-width: 800px;
 margin: auto;
}

.mySlides{
 display:none;
 border-radius: 20%;
 float: center;
}

.text{
 color: black;
 font-size:18px;
 padding: 15px;
 position: relative;
 bottom:8px;
 width:100%;
 text-align:center;
 display: inline-block;
 border: 1px solid;
 border-radius: 15px 50px;
 margin-top: 10px;
}

.numbertext{
 color:black;
 font-size:16px;
 padding:8px 12px;
 position: relative;
 transform: translateY(45px);
 top:0;
 z-index: 100;
 color: black;
}

.fade{
 -webkit-animation-name:fade;
 -webkit-animation-duration:1.5s;
 animation-name:fade;
 animation-duration:1.5s;
}

@-webkit-keyframes fade{
 from{opacity:.4}
 to{opacity:1}
}

@keyframes fade{
 from{opacity:.4}
 to{opacity:1}
}

#familia1{
  border-radius: 10%;
  width: 100%;
  min-height: 250px;
  max-height: 600px;
}

#familia2{
  border-radius: 10%;
  width: 100%;
  min-height: 250px;
  max-height: 600px;
}

#familia3{
  border-radius: 10%;
  width: 100%;
  min-height: 250px;
  max-height: 600px;
}

@media (min-width: 320px) {

  .text{
   color: black;
   font-size:16px;
   padding: 20px;
   position: relative;
   bottom:8px;
   width:100%;
   text-align: justify;
   display: inline-block;
   border: 1px solid;
   border-radius: 30px 30px;
   margin-top: 10px;
  }

  #familia1{
    border-radius: 10%;
    width: 100%;
    min-height: 250px;
    max-height: 600px;
  }

  #familia2{
    border-radius: 10%;
    width: 100%;
    min-height: 250px;
    max-height: 600px;
  }

  #familia3{
    border-radius: 10%;
    width: 100%;
    min-height: 250px;
    max-height: 600px;
  }
}

@media (min-width: 768px) {

  .text{
   color: black;
   font-size:18px;
   padding: 20px;
   position: relative;
   bottom:8px;
   width:100%;
   text-align: justify;
   display: inline-block;
   border: 1px solid;
   border-radius: 30px 30px;
   margin-top: 10px;
  }

  #familia1{
    border-radius: 10%;
    width: 100%;
    min-height: 320px;
    max-height: 600px;
  }

  #familia2{
    border-radius: 10%;
    width: 100%;
    min-height: 320px;
    max-height: 600px;
  }

  #familia3{
    border-radius: 10%;
    width: 100%;
    min-height: 320px;
    max-height: 600px;
  }

}

@media (min-width: 1024px) {

  .text{
   color: black;
   font-size:20px;
   padding: 20px;
   position: relative;
   bottom:8px;
   width:100%;
   text-align: justify;
   display: inline-block;
   border: 1px solid;
   border-radius: 30px 30px;
   margin-top: 10px;
  }

  #familia1{
    border-radius: 10%;
    width: 100%;
    min-height: 400px;
  }

  #familia2{
    border-radius: 10%;
    width: 100%;
    min-height: 400px;
  }

  #familia3{
    border-radius: 10%;
    width: 100%;
    min-height: 400px;
  }
}
